# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.log
app.egg-info
.mypy_cache
.coverage
htmlcov
.venv

# Environment
.env

# Keys (CRÍTICO)
keys/
credentials.json

# Logs
logs/

# OS
.DS_Store
Thumbs.db




